# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
build/

# Test screenshots
*.png
!CodeBreaker/Assets.xcassets/**/*.png
!assets/*.png
!docs/images/*.png

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
